<?xml version="1.0"?>
<!--
/*
 * Turiknox_Hotjar

 * @category   Turiknox
 * @package    Turiknox_Hotjar
 * @copyright  Copyright (c) 2017 Turiknox
 * @license    https://github.com/Turiknox/magento2-hotjar/blob/master/LICENSE.md
 * @version    1.0.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="turiknox" sortOrder="1000">
            <label>Turiknox</label>
        </tab>
        <section id="hotjar" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Hotjar</label>
            <tab>turiknox</tab>
            <resource>Turiknox_Hotjar::config</resource>
            <group id="general" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="site_id" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Site ID</label>
                    <validate>validate-number</validate>
                </field>
            </group>
        </section>
    </system>
</config>
